* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
  
  address {
    font-style: inherit;
  }
  
  li {
    list-style-type: none;
  }
  
  p {
    padding-bottom: 17px;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    flex-direction: column;
  }

  .cv_name {
    display: block;
    padding: 99px 328px 98px 325px;
    text-align: center;
    font-family: "OpenSans", sans-serif;
    font-size: 45px;
    line-height: 75px;
    font-weight: 700;
    text-transform: uppercase;
    color: #440101;
  }
  
  .header_contacts, .section_header {
    text-align: center;
    font-family: "OpenSans", sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: #0f0d0e;
    margin-bottom: 25px;
  }